.Image {
    display: relative;
    width: 1890px;
    position: relative
}

#charamenu {
    background-color: white;
    position: fixed;
    border: 2px solid black;
    z-index: 3;
    opacity: 1;
    transition: height 0.3s ease, opacity 0.7s ease;
    height: 190px;
    padding: 5px;
}

.invisible {
    opacity: 0;
    height: 0;
}

#murata {
    cursor: crosshair;
    z-index: 1;
    position: relative; 
}

.dropdown {
    list-style-type: none;
    padding: 5px;
    margin: 0px
}

.dropdown li {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.dropdown li:hover {
    background-color: grey;
    cursor: pointer
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }

.shake {
    animation: 0.2s horizontal-shaking;
  }
  

.complete{
    text-decoration: line-through;
}

.circle {
    border: 5px solid rgb(0, 198, 0);
    border-radius: 50%;
    margin: auto;
    z-index: 3
}

.goku {
    width: 80px;
    height: 80px;
    top: 330px;
    left: 1060px;
    position: absolute;
}

.cell {
    width: 80px;
    height: 80px;
    top: 265px;
    left: 1567px;
    position: absolute;
}

.sanji {
    width: 100px;
    height: 100px;
    top: 1190px;
    left: 1010px;
    position: absolute;
}

#circle-checkmark {
    font-family: sans-serif;
    background: green;
    color: white;
    padding: 1px 4px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 65px;
    display: none
  }
